html {
    font-size: 14px;
}

$shi body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: "Consolas", "微软雅黑";
    user-select: none;
    max-width: 450px;
    >* {
        max-width: 450px;
    }
}

.hidden {
    display: none;
}

.title {
    padding: 1rem 5%;
    background: steelblue;
    color: white;
    h1 {
        margin: 0;
    }
}