.icon-button {
  background: none;
  border: none;
  color: inherit;
}

.search-height {
  height: calc(1.5em + .75rem + 2px);
  line-height: calc(1.5em + .75rem + 2px);
}

.c-link {
  cursor: pointer;
}
