<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <div id="app">
        <input type="checkbox" name='hobby' value='read' v-model='hobby' />读书
        <input type="checkbox" name='hobby' value='backball' v-model='hobby' />打篮球
        <input type="checkbox" name='hobby' value='football' v-model='hobby' />踢足球
    </div>
    <script src="https://cdn.bootcss.com/vue/2.6.10/vue.js"></script>
    <script src="./js/index.js"></script>
</body>

</html>